/**
 * base_module
 *
 * This is almost a direct copy of Toolbar modules toolbar.module.css. There are
 * minor adjustments and additions such as the line-height, font size and some
 * use of Flex over floats etc, & support for new markup elements.
 *
 * Major styles such as the layout and orientation change assumptions are not
 * modified, these are tied to the JS in core and difficult to move away from.
 */


// Delay visibility until all rerendering has completed.
.toolbar-loading {
  #toolbar-administration {
    overflow: hidden;

    .toolbar-bar {
      opacity: 0;
    }
  }
}

#toolbar-administration {
  font-size: medium;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

// Toolbar home button toggle.
.toolbar .toolbar-bar .home-toolbar-tab {
  display: none;
}
.path-admin .toolbar-bar .home-toolbar-tab {
  display: block;
}

@media print {
  #toolbar-administration {
    display: none;
  }
}

// Very specific overrides for Drupal system CSS.
.toolbar {
  li {
    list-style: none none;
  }

  .item-list {
    list-style: none none;

    li {
      list-style: none none;
    }
  }

  .menu-item,
  .menu-item--expanded {
    list-style: none none;
  }

  .menu-item {
    padding-top: 0;
  }

  .toolbar-bar .toolbar-tab,
  .menu-item {
    display: block;
  }

  .toolbar-bar .toolbar-tab.hidden {
    display: none;
  }

  .toolbar-bar,
  .toolbar-tray {
    position: relative;
    z-index: 1250;
  }

  // Fallback CSS in case something fails.
  .no-tabs .toolbar-tab__items-wrapper {
    //display: none;
  }

  // Use a new wrapper around toolbar-tab items, use flex to position items. We
  // need the big z-index for when orientation is vertical.
  .toolbar-tab__items-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //min-height: 1.8em;
    z-index: 1500;
    position: relative;
  }

  .home-toolbar-tab {
    div {
      display: none;
    }
  }

  .toolbar-icon-admin-toolbar-tools-help {
    text-indent: 0;
  }

  .toolbar-bar .contextual-toolbar-tab {
    float: none !important; // override contextual links css.
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0.25em 0;

    [dir="rtl"] & {
      right: auto;
      left: 0;
      padding-left: 0;
      padding-right: 0.35em;
    }

    button {
      outline: none !important;
      color: inherit;
      height: auto;
      font-size: inherit;
    }
  }

}


// Administration menu.

// Position the admin toolbar absolutely when the configured standard breakpoint
// is active. The toolbar container, that contains the bar and the trays, is
// position absolutely so that it scrolls with the page. Otherwise, on smaller
// screens, the components of the admin toolbar are positioned statically.

body.toolbar-fixed .toolbar-oriented {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.toolbar-oriented {
  .toolbar-bar,
  .toolbar-tray {
    left: 0;
    position: absolute;
    right: 0;
    //top: 0;
  }

  .toolbar-bar {
    z-index: 502;
  }
}


// Layer the bar just above the trays and above contextual link triggers.

// Position the admin toolbar fixed when the configured standard breakpoint is
// active.

body {
  &.toolbar-fixed .toolbar-oriented .toolbar-bar {
    position: fixed;
  }

  &.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented {
    bottom: 0;
    width: 15rem;
  }
}


// When the configured narrow breakpoint is active, the toolbar is sized to wrap
// around the trays in order to provide a context for scrolling tray content
// that is taller than the viewport.

// Present the admin toolbar tabs horizontally as a default on user agents that
// do not understand media queries or on user agents where JavaScript is
// disabled.

.toolbar {
  .toolbar-bar,
  .toolbar-tray-horizontal ul {
    display: flex;
  }

  .toolbar-tab > a,
  .toolbar-tray-horizontal ul a {}
}


// Present the admin toolbar tabs vertically by default on user agents that
// that understand media queries. This will be the small screen default.

@media only screen {
  .toolbar {
    .toolbar-bar
    .toolbar-tray-horizontal {
      [dir="rtl"] & {}
    }
  }
}


// Tabs can be hidden in the settings, however we have to show the Manage tab
// in orientation vertical otherwise the user will not be able to collapse the
// menu. Here we move the tray to lie adjacent to the manage button, rather than
// below, making one inline menu.

#toolbar-administration .no-tabs .toolbar-tray-horizontal {
  left: 2.5em;
  top: 0;
  border-top: 0;
  box-shadow: none;
  margin-top: 0 !important;
}


// This min-width media query is meant to provide basic horizontal layout to
// the main menu tabs when JavaScript is disabled on user agents that understand
// media queries.

@media (min-width: 16.5em) {
  .toolbar {
    .toolbar-bar,
    .toolbar-tray-horizontal ul {
      display: flex;

      [dir="rtl"] & {}
    }
  }
}


// Present the admin toolbar tabs horizontally when the configured narrow
// breakpoint is active.

.toolbar-oriented {
  .toolbar-bar,
  .toolbar-tray-horizontal {
    display: flex;

    [dir="rtl"] & {}
  }
}


// Toolbar tray.

.toolbar {
  .toolbar-tray {
    z-index: 501;
    display: none;
  }
}

.toolbar-oriented .toolbar-tray-vertical {
  left: -100%;
  position: absolute;
  width: 15rem;
}

[dir="rtl"] .toolbar-oriented .toolbar-tray-vertical {
  left: auto;
  right: -100%;
}

.toolbar .toolbar-tray-vertical > .toolbar-lining {
  min-height: 100%;

  &:before {
    width: 100%;
  }
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 14rem;
  z-index: -1;

  [dir="rtl"] & {
    left: auto;
    right: 0;
  }
}


// Layer the links just above the toolbar-tray.

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  position: relative;
  z-index: 502;
}


// Hide secondary menus when the tray is horizontal.

.toolbar-oriented .toolbar-tray-horizontal .menu-item ul {
  display: none;
}


// When the configured standard breakpoint is active and the tray is in a
// horizontal position, the tray is fixed to the top of the viewport and does
// not scroll with the page contents.

body.toolbar-fixed .toolbar .toolbar-tray-horizontal {
  position: fixed;
}


// When the configured standard breakpoint is active and the tray is in a
// vertical position, the tray does not scroll with the page. The contents of
// the tray scroll within the confines of the viewport.

.toolbar .toolbar-tray-vertical.is-active,
body.toolbar-fixed .toolbar .toolbar-tray-vertical {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}

.toolbar .toolbar-tray.is-active {
  display: block;
}


// Bring the tray into the viewport. By default it is just off-screen.

.toolbar-oriented .toolbar-tray-vertical.is-active {
  left: 0;

  [dir="rtl"] & {
    left: auto;
    right: 0;
  }
}


// When the configured standard breakpoint is active, the tray appears to push
// the page content away from the edge of the viewport.

body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 15rem;

  [dir="rtl"] & {
    margin-left: auto;
    margin-right: 15rem;
  }
}

@media print {
  body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 0;

    [dir="rtl"] & {
      margin-right: 0;
    }
  }
}


// ToolBar tray orientation toggle.

// Hide the orientation toggle when the configured narrow breakpoint is not
// active.

.toolbar .toolbar-tray .toolbar-toggle-orientation {
  display: none;
}


// Show the orientation toggle when the configured narrow breakpoint is
// active.

.toolbar-oriented {
  .toolbar-tray .toolbar-toggle-orientation {
    display: block;
  }

  .toolbar-tray-horizontal .toolbar-toggle-orientation {
    bottom: 0;
    position: absolute;
    right: 0;
    top: auto;

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }
}

// .toolbar-loading is required by Toolbar JavaScript to pre-render markup
// style to avoid extra reflow & flicker.
//@media (min-width: 61em) {
//  .toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray {
//    position: relative;
//    display: block;
//    z-index: -999;
//    visibility: hidden;
//    width: 1px;
//  }
//  .toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray .toolbar-lining {
//    width: 999em;
//  }
//  .toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .home-toolbar-tab  .toolbar-tab .toolbar-tray {
//    display: block;
//  }
//}
