.toolbar-handle { background-image: url('png/toolbar-handle.png'); background-repeat: no-repeat; }

.toolbar-icon-admin-toolbar-tools-help { background-image: url('png/toolbar-icon-admin-toolbar-tools-help.png'); background-repeat: no-repeat; }

.toolbar-icon-edit { background-image: url('png/toolbar-icon-edit.png'); background-repeat: no-repeat; }

.toolbar-icon-entity-user-collection { background-image: url('png/toolbar-icon-entity-user-collection.png'); background-repeat: no-repeat; }

.toolbar-icon-escape-admin { background-image: url('png/toolbar-icon-escape-admin.png'); background-repeat: no-repeat; }

.toolbar-icon-help-main { background-image: url('png/toolbar-icon-help-main.png'); background-repeat: no-repeat; }

.toolbar-icon-help { background-image: url('png/toolbar-icon-help.png'); background-repeat: no-repeat; }

.toolbar-icon-home { background-image: url('png/toolbar-icon-home.png'); background-repeat: no-repeat; }

.toolbar-icon-link-toolbar-menu { background-image: url('png/toolbar-icon-link-toolbar-menu.png'); background-repeat: no-repeat; }

.toolbar-icon-menu { background-image: url('png/toolbar-icon-menu.png'); background-repeat: no-repeat; }

.toolbar-icon-shortcut { background-image: url('png/toolbar-icon-shortcut.png'); background-repeat: no-repeat; }

.toolbar-icon-system-admin-config { background-image: url('png/toolbar-icon-system-admin-config.png'); background-repeat: no-repeat; }

.toolbar-icon-system-admin-content { background-image: url('png/toolbar-icon-system-admin-content.png'); background-repeat: no-repeat; }

.toolbar-icon-system-admin-reports { background-image: url('png/toolbar-icon-system-admin-reports.png'); background-repeat: no-repeat; }

.toolbar-icon-system-admin-structure { background-image: url('png/toolbar-icon-system-admin-structure.png'); background-repeat: no-repeat; }

.toolbar-icon-system-modules-list { background-image: url('png/toolbar-icon-system-modules-list.png'); background-repeat: no-repeat; }

.toolbar-icon-system-themes-page { background-image: url('png/toolbar-icon-system-themes-page.png'); background-repeat: no-repeat; }

.toolbar-icon-toggle-horizontal { background-image: url('png/toolbar-icon-toggle-horizontal.png'); background-repeat: no-repeat; }

.toolbar-icon-toggle-orientation { background-image: url('png/toolbar-icon-toggle-orientation.png'); background-repeat: no-repeat; }

.toolbar-icon-toggle-vertical { background-image: url('png/toolbar-icon-toggle-vertical.png'); background-repeat: no-repeat; }

.toolbar-icon-toolbar-menu { background-image: url('png/toolbar-icon-toolbar-menu.png'); background-repeat: no-repeat; }

.toolbar-icon-tour { background-image: url('png/toolbar-icon-tour.png'); background-repeat: no-repeat; }

.toolbar-icon-user { background-image: url('png/toolbar-icon-user.png'); background-repeat: no-repeat; }
/*# sourceMappingURL=icons.fallback.css.map */