// Admin theme SCSS variables.

$font-family                      : "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", arial, sans-serif;
$font-size                        : .75rem;

$tap-highlight                    : rgba(255, 255, 255, 0);

$toolbar-bar-color                : #e8e8e8;
$toolbar-bar-background           : #454545;

$drop-shadows                     : false;
$drop-shadow-color                : rgba(0, 0, 0, 0.333);
$border-color                     : #323232;

$tab-item-height                  : $font-size * 2;
$toolbar-item-padding             : 0.3em 0.95em .2em;

$tab-color                        : #d8d8d8;
$tab-active-color                 : #fff;

$tray-color                       : #e8e8e8;
$tray-active                      : #fff;
$tray-background                  : #101010;

$tray-vertical-background         : $tray-background;
$tray-border-color                : #696969;

$drop-menu-border-color           : $border-color;
$drop-menu-background             : rgba(16, 16, 16, 0.95);
$sub-menu-indicator               : $tray-border-color;

$toggle-orientation-color         : $tray-border-color;
$toggle-orientation-active        : $tray-color;
$toggle-orientation-border-color  : $toggle-orientation-color;
