/**
 * admin_menu_theme
 * Theme styles for menus and other toolbar elements. SVG icons are styled in
 * the [theme]_icons.scss file, while click handles, e.g. origination buttons
 * are styled here.
 */
body .toolbar-no-tabs {
  padding-top: 1.5rem !important;
}

#toolbar-administration {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  height: 3rem;
  background-color: #454545;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.toolbar-vertical #toolbar-administration,
.toolbar-no-tabs #toolbar-administration,
#toolbar-administration .toolbar-tab,
#toolbar-administration .toolbar-tray {
  height: 1.5rem;
}

#toolbar-administration .toolbar-tray {
  top: 1.5rem;
}

#toolbar-administration .toolbar-tab a:hover, #toolbar-administration .toolbar-tab a:focus,
#toolbar-administration .toolbar-item a:hover,
#toolbar-administration .toolbar-item a:focus {
  text-decoration: none;
  outline: none;
}

#toolbar-administration .toolbar-item {
  padding: 0.3em 0.95em 0.2em;
  display: block;
}

#toolbar-administration .toolbar__link-label {
  font-size: 1em;
}

#toolbar-administration .toolbar-bar {
  background-color: #454545;
  color: #e8e8e8;
}

#toolbar-administration .toolbar-bar .toolbar-tab .toolbar-tab__items-wrapper a {
  color: #d8d8d8;
}

#toolbar-administration .toolbar-bar .toolbar-tab .toolbar-tab__items-wrapper a:hover, #toolbar-administration .toolbar-bar .toolbar-tab .toolbar-tab__items-wrapper a:focus, #toolbar-administration .toolbar-bar .toolbar-tab .toolbar-tab__items-wrapper a.is-active {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#101010));
  background-image: -webkit-linear-gradient(#454545, #101010);
  background-image: -o-linear-gradient(#454545, #101010);
  background-image: linear-gradient(#454545, #101010);
}

#toolbar-administration .toolbar-bar .tour-toolbar-tab.toolbar-tab {
  float: none;
}

#toolbar-administration .toolbar-bar .tour-toolbar-tab button.toolbar-item {
  padding: 0.3em 0.95em 0.2em;
}

#toolbar-administration .toolbar-bar .contextual-toolbar-tab button.toolbar-item {
  color: #d8d8d8;
}

#toolbar-administration .toolbar-bar .contextual-toolbar-tab button.toolbar-item:hover, #toolbar-administration .toolbar-bar .contextual-toolbar-tab button.toolbar-item:focus, #toolbar-administration .toolbar-bar .contextual-toolbar-tab button.toolbar-item.is-active {
  color: #fff;
  background: none;
}

#toolbar-administration .toolbar-lining button:focus {
  outline: none;
}

#toolbar-administration .toolbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#toolbar-administration .toolbar-box a:focus {
  outline: none;
}

#toolbar-administration .toolbar-box a:hover:focus {
  text-decoration: none;
}

#toolbar-administration .toolbar-tray {
  background-color: #101010;
}

#toolbar-administration .toolbar-tray a {
  color: #e8e8e8;
  cursor: pointer;
  padding: 0.3em 0.95em 0.2em;
}

#toolbar-administration .toolbar-tray a:hover, #toolbar-administration .toolbar-tray a:active, #toolbar-administration .toolbar-tray a:focus, #toolbar-administration .toolbar-tray a.is-active {
  color: #fff;
}

#toolbar-administration .toolbar-tray a.is-active[href="/"] {
  color: #e8e8e8;
}

#toolbar-administration .toolbar-tray-horizontal a:focus {
  outline: none;
  background-color: #101010;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-menu .toolbar-menu {
  background-color: rgba(16, 16, 16, 0.95);
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-menu .toolbar-menu .menu-item {
  border-top: 1px solid #101010;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-menu .toolbar-menu .menu-item:first-child {
  border-top-color: #101010;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration .toolbar-menu .toolbar-menu > .menu-item--expanded > .toolbar-menu {
  top: -1px;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu > .menu-item > a,
#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-box a {
  border-right: 1px solid;
  border-color: #101010;
  -webkit-border-image: -webkit-gradient(linear, left bottom, left top, from(#696969), to(#101010)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #696969, #101010) 1 100%;
       -o-border-image: -o-linear-gradient(bottom, #696969, #101010) 1 100%;
          border-image: -webkit-gradient(linear, left bottom, left top, from(#696969), to(#101010)) 1 100%;
          border-image: linear-gradient(to top, #696969, #101010) 1 100%;
}

[dir="rtl"] #toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu > .menu-item > a, [dir="rtl"]
#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-box a {
  border-right: 0;
  border-left: 1px solid;
}

#toolbar-administration .toolbar-tray-horizontal .menu-item .menu-item:hover, #toolbar-administration .toolbar-tray-horizontal .menu-item .menu-item:focus {
  background-color: #101010;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded > a:after,
#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded .toolbar-box > a:after {
  color: #696969;
  right: 0.65em;
  top: 0.5em;
  display: block;
  font-size: 0.9em;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded > a:hover:after, #toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded > a:focus:after,
#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded .toolbar-box > a:hover:after,
#toolbar-administration .toolbar-tray-horizontal .toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded .toolbar-box > a:focus:after {
  color: #fff;
}

#toolbar-administration .toolbar-tray-horizontal .edit-shortcuts {
  float: none;
  position: absolute;
  right: 2.2em;
  top: 0;
}

#toolbar-administration .toolbar-tray-vertical {
  background-color: #101010;
  border-right: 1px solid #323232;
  height: 100%;
}

[dir="rtl"] #toolbar-administration .toolbar-tray-vertical {
  border-left: 1px solid #323232;
  border-right: 0 none;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu .toolbar-menu {
  display: none;
}

#toolbar-administration .toolbar-tray-vertical .menu-item--expanded.open > .toolbar-menu {
  display: block;
  border-bottom-width: 0;
}

#toolbar-administration .toolbar-tray-vertical .menu-item--expanded.open > .toolbar-menu .toolbar-menu {
  border-bottom-width: 1px;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-handle + a {
  margin-right: 3em;
}

[dir="rtl"] #toolbar-administration .toolbar-tray-vertical .toolbar-handle + a {
  margin-left: 3em;
  margin-right: 0;
}

#toolbar-administration .toolbar-tray-vertical .menu-item + .menu-item {
  border-top: 1px solid #696969;
}

#toolbar-administration .toolbar-tray-vertical .menu-item:last-child {
  border-bottom: 1px solid #696969;
}

#toolbar-administration .toolbar-tray-vertical .menu-item .menu-item {
  border: 0 none;
}

#toolbar-administration .toolbar-tray-vertical .menu-item .toolbar-box:hover,
#toolbar-administration .toolbar-tray-vertical .menu-item .toolbar-box:focus {
  background-color: #1d1d1d;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu.root {
  border: 0;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu .toolbar-menu {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-1 > ul {
  background-color: #383838;
  border-bottom-color: #5c5c5c;
  border-top-color: #5c5c5c;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-2 > ul {
  background-color: #2c2c2c;
  border-bottom-color: #505050;
  border-top-color: #505050;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-3 > ul {
  background-color: #1f1f1f;
  border-bottom-color: #434343;
  border-top-color: #434343;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-4 > ul {
  background-color: #121212;
  border-bottom-color: #363636;
  border-top-color: #363636;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-5 > ul {
  background-color: #050505;
  border-bottom-color: #292929;
  border-top-color: #292929;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-6 > ul {
  background-color: black;
  border-bottom-color: #1d1d1d;
  border-top-color: #1d1d1d;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-7 > ul {
  background-color: black;
  border-bottom-color: #101010;
  border-top-color: #101010;
}

#toolbar-administration .toolbar-tray-vertical .toolbar-menu > .level-8 > ul {
  background-color: black;
  border-bottom-color: #030303;
  border-top-color: #030303;
}

#toolbar-administration .menu-item:last-child > .toolbar-menu {
  border-bottom: 0;
}

#toolbar-administration .toolbar-icon.toolbar-handle:before {
  color: #696969;
}

#toolbar-administration .toolbar-icon.toolbar-handle.open:before {
  color: #fff;
}

#toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:after, #toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:before {
  color: #696969;
}

#toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:hover, #toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:focus, #toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:hover:after, #toolbar-administration .toolbar-toggle-orientation button.toolbar-icon:focus:before {
  color: #e8e8e8;
  background-color: transparent;
}

#toolbar-administration .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border-left: 1px solid #696969;
}

[dir="rtl"] #toolbar-administration .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border-left: 0 none;
  border-right: 1px solid #696969;
}

#toolbar-administration .toolbar-toggle-orientation [value="horizontal"]:after {
  right: 0.95em;
}

.adminimal #toolbar-bar {
  font: normal 83.1%/1.538 "Open Sans", sans-serif !important;
}

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal.toolbar-themes {
  padding-top: 4.75em !important;
}

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal #toolbar-administration {
  background-color: #333;
}

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal.toolbar-has-tabs #toolbar-administration {
  min-height: 4em;
}

.adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal.toolbar-no-tabs #toolbar-administration {
  min-height: 2em;
}

.adminimal.toolbar-fixed.toolbar-vertical.toolbar-has-tabs, .adminimal.toolbar-fixed.toolbar-horizontal.toolbar-no-tabs, .adminimal.toolbar-fixed.toolbar-vertical.toolbar-no-tabs, .adminimal.toolbar-tray-open.toolbar-fixed.toolbar-horizontal.toolbar-no-tabs {
  padding-top: 2.3em !important;
}
/*# sourceMappingURL=admin_menu_theme.css.map */