// Seven SCSS variables.

$font-family                      : "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", arial, sans-serif;
$font-size                        : 0.8125rem;

$tap-highlight                    : rgba(0, 0, 0, 0);

$toolbar-bar-color                : #595959;
$toolbar-bar-background           : #c9c9c2;
$toolbar-submenu-background-color : #fcfcfc;

$drop-shadows                     : true;
$drop-shadow-color                : rgba(168, 168, 168, 0.65);
$border-color                     : #e6e4df;

$tab-item-height                  : $font-size * 2;
$toolbar-item-padding             : 0.35em 0.95em .2em;

$tab-color                        : #595959;
$tab-active-color                 : #1a1a1a;

$tray-color                       : #1a1a1a;
$tray-active                      : #1a1a1a;
$tray-background                  : #ebebe6;

$tray-vertical-background         : $tray-background;
$tray-border-color                : #e6e4df;

$drop-menu-border-color           : $border-color;
$drop-menu-background             : #f5f5f2;
$sub-menu-indicator               : #ccc;

$toggle-orientation-color         : #bfbfba;
$toggle-orientation-active        : #1a1a1a;
$toggle-orientation-border-color  : #bfbfba;

