{#
/**
 * Toolbar themes implementation for the administrative toolbar.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - toolbar_attributes: HTML attributes to apply to the toolbar.
 * - toolbar_heading: The heading or label for the toolbar.
 * - tabs: List of tabs for the toolbar.
 *   - attributes: HTML attributes for the tab container.
 *   - link: Link or button for the menu tab.
 *   - icon_attributes: tab icon classes and attributes to style SVG grunticons.
 * - trays: Toolbar tray list, each associated with a tab. Each tray in trays
 *   contains:
 *   - attributes: HTML attributes to apply to the tray.
 *   - label: The tray's label.
 *   - links: The tray menu links.
 * - remainder: Any non-tray, non-tab elements left to be rendered.
 * - show_icons: bool to show or hide icon markup.
 *
 * @see toobar_themes_preprocess_toolbar()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('toolbar') }}>
  {%
    set classes = [
      'toolbar-bar',
      show_icons ? 'has-icons' : 'no-icons',
      show_tabs ? 'has-tabs' : 'no-tabs',
    ]
  %}
  <nav{{ toolbar_attributes.addClass(classes) }}>
    <h2 class="visually-hidden">{{ toolbar_heading }}</h2>
    {% for key, tab in tabs %}
      {% set tray = trays[key] %}
      <div{{ tab.attributes.addClass('toolbar-tab') }}>
        <span class="toolbar-tab__items-wrapper">
          {{- tab.link -}}
          {%- if show_icons and show_tabs -%}
            {%- if tab.icon_attributes -%}
              <i{{ tab.icon_attributes.setAttribute('data-grunticon-embed', '') }}></i>
            {%- endif -%}
          {%- endif -%}
        </span>
        {% spaceless %}
          <div{{ tray.attributes }}>
            {% if tray.label %}
              <h3 class="toolbar-tray-name visually-hidden">{{ tray.label }}</h3>
            {% endif %}
            <nav class="toolbar-lining clearfix" role="navigation"{% if tray.label %} aria-label="{{ tray.label }}{% endif %}">
              {{ tray.links }}
            </nav>
          </div>
        {% endspaceless %}
      </div>
    {% endfor %}
  </nav>
  {{ remainder }}
</div>
